.button, .textEntry {
  color: #FFF;
  background-color:black;
  font:48px Andale Mono;
  border:0px;
}

.button:active {
    outline: none;
    border: none;
}

.button:selected {
  outline: none;
  border: none;
}

.centered {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
}

.title {
  font:20pt Andale Mono;
}

.message {
  font:12pt Andale Mono;
}

.textEntry button {
  border:4pt;
  border-style:solid;
  border-color:white;
  width:130pt;
  text-align:center;
}