.button, .textEntry, .returnButton {
  color: white;
  background-color:black;
  font:32pt Andale Mono;
  border:0;
  text-decoration: underline;
}

.button:active, .returnButton:active {
    outline: none;
    border: none;
}

.button:selected, .returnButton:active {
  outline: none;
  border: none;
}

.centered {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
}

.return {
  position: absolute;
  margin: 0;
  top: 244pt;
  bottom: 0;
  left: 0;
  right: 0; 
  height: 20pt;
}

.returnButton {
  font:12pt Andale Mono;
}

.title {
  font:20pt Andale Mono;
}

.message {
  font:12pt Andale Mono;
}

.textEntry button {
  border:4pt;
  border-style:solid;
  border-color:white;
  width:130pt;
  text-align:center;
}