[Unit]
Description=Pong Server Service
After=network.target

[Service]
Type=simple
User=pardee
WorkingDirectory=/home/pardee/pong
ExecStart=/home/pardee/pong/server/server
Restart=on-failure

[Install]
WantedBy=multi-user.target
